.some-text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.some-text2 {
    text-decoration: line-through
}

.some-text3 {
    text-transform: uppercase;
    text-align: center;
}

.some-text4 {
    word-spacing: 30px;
    text-shadow: 2px 2px 4px rgba(213, 36, 237, 0.5);
    }


.some-text5 {
    letter-spacing: 5px;
    text-decoration: dotted;
}

.some-text6 {
    white-space: nowrap
}

.some-text7 {
    font-family: "Rubik Gemstones", "Impact";
    text-decoration: underline;
}